<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class = "setnavcolor">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right makewhite">
                        <li><a href="#/home">Home</a></li>
                    </ul>
                </div>
            </div>
</nav>

<div class = "setbackground">

<!-- Create User -->
<div class="container-fluid pushdown">


    <div ng-if="model.createsuccess" class="alert alert-success">
        {{model.createsuccess}}
    </div>


    <h4><b>Create User (Admin/User)</b></h4>

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 paddedfromtop3">
            <input type="text"
                   class="form-control"
                   placeholder="username"
                   ng-model="model.username"/>
        </div>

        <div class="col-md-3  col-sm-12 col-xs-12 paddedfromtop3">
            <input type="password"
                   class="form-control"
                   placeholder="password"
                   ng-model="model.password"/>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 paddedfromtop3 makeblack">
            <select type="string"
                    class="form-control"
                    placeholder="Admin/User"
                    ng-model="model.role">

                <option value="ADMIN">ADMIN</option>
                <option value="ENDUSER">ENDUSER</option>
            </select>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 paddedfromtop3">
            <a ng-click="model.createUser(model.username, model.password, model.role)"
               class="btn btn-block btn-primary">
                Create
            </a>

        </div>

    </div>


</div>

<p></p>
<p></p>
<!-- Role Manager-->
<div class="container ">
    <h4 ><b>Role Manager</b></h4>
    <div ng-if="model.updatedmessage" class="alert alert-success">
        {{model.updatedmessage}}
    </div>

    <div class="table-responsive">
        <table class="table">
            <th>Update User</th>


            <th>Username</th>
            <th>Role(ADMIN/ENDUSER)</th>

            <tr ng-repeat="user in model.users">
                <td><a class="glyphicon glyphicon-ok makewhite"
                       ng-click="model.updateUser(user._id, user)"></a>

                <td>
                    <a class="makewhite"
                       href="#/user/profile/{{user.username}}">{{user.username}}</a>
                </td>

                <td><input type="text"
                           ng-model="user.admin"
                           placeholder="ADMIN/ENDUSER"/></td>

            </tr>
        </table>
    </div>

</div>

<p></p>
<p></p>
<!-- Update Delete USers -->
<div class="container ">
    <h4 ><b>Update/Delete Users</b></h4>
    <div ng-if="model.warning" class="alert alert-warning">
        {{model.warning}}
    </div>
    <div ng-if="model.updatedmessage" class="alert alert-success">
        {{model.updatedmessage}}
    </div>
    <div class="table-responsive">
        <table class="table ">
            <th>Update User</th>
            <th>Delete User</th>

            <th>Username</th>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>


            <tr ng-repeat="user in model.users">
                <td><a class="glyphicon glyphicon-ok makewhite"
                       ng-click="model.updateUser(user._id, user)"></a>
                </td>
                <td><a class="glyphicon glyphicon-remove makewhite"
                       ng-click="model.deleteUser(user._id)"></a>
                </td>

                <td>
                    <a class="makewhite"
                       href="#/user/profile/{{user.username}}">{{user.username}}</a>
                </td>


                <td><input type="text"
                           ng-model="user.firstName"
                           placeholder="First Name"/></td>


                <td><input type="text"
                           ng-model="user.lastName"
                           placeholder="Last Name"/></td>

                <td><input type="text"
                           ng-model="user.email"
                           placeholder="Email"/></td>


            </tr>
        </table>
    </div>

</div>





<div class="container pushdown">
    <h4 ><b>Current Users</b></h4>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>

                <th>Username</th>
                <th>Type</th>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>Email</th>

            </tr>
            </thead>

            <tbody ng-repeat="user in model.users">

            <tr>

                <td>
                    <span class="glyphicon glyphicon-user makewhite">
                        <a class="makewhite"
                           href="#/user/profile/{{user.username}}">
                         {{user.username}}</a></span>
                </td>

                <td>


                    <a ng-if="user.role=='ADMIN'"class="makewhite">
                        Admin
                    </a>

                    <a ng-if="user.role=='ENDUSER'"class="makewhite">
                        User
                    </a>
                </td>

                <td> {{user.firstName}}</td>

                <td> {{user.lastName}}</td>

                <td> {{user.email}}</td>


            </tr>
            </tbody>

        </table>
    </div>
</div>
</div>
</div>


        <nav class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container-fluid">
                <p class="navbar-text pull-right">
                    <a
                            ng-click="model.logout()">
                        <span>Logout</span>
                    </a>

                </p>
                <p class="navbar-text pull-left">
                    <a
                            href="#/admin">
                        <span>Admin Dashboard</span>
                    </a>
                </p>

            </div>
        </nav>
</div>
