<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class = "setnavcolor">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#/home">Home</a></li>
                    </ul>

                </div>
            </div>
</nav>


<div class = "customcss setbackground">
    <div class="container-fluid pushdown">
        <h2 class="page-header">Welcome {{model.user.firstName}}  </h2>
        <p ng-if="model.admin" class="button ">

            <a href="#/admin" class="btn btn-default  btn-block makeblue">
                <span class="fa fa-cogs makeblack" aria-hidden="true"></span>
                Admin Dashboard
            </a>

        </p>

        <div class="container-fluid">

            <form>
                <div class="col-xs-6">
                    <label for="username">Username</label>
                    <input ng-model="model.user.username" type="text" class="form-control" id="username" placeholder="Username">
                </div>
                <div class="col-xs-6">
                    <label for="email">Email address</label>
                    <input  ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="alice@wonderland.com">
                </div>
                <div class="col-xs-6">
                    <label for="first-name">First Name</label>
                    <input  ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Alice">
                </div>
                <div class="col-xs-6">
                    <label for="last-name">Last Name</label>
                    <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
                </div>


            </form>
            </div>

            <div>


                <br>
                <br>
            <a ng-click=model.updateUser(model.user)
               class="btn btn-warning btn-block col-xs-6 ">Update Contact Info!</a>
            </div>

        <br>
        <br>

        <p></p>

            <h3>Your Reviews</h3>

            <div ng-if="model.noratings">
                You have not rated any movie so far
            </div>
            <div ng-repeat="reviews in model.user.reviews" class="row">
                <a class="makewhite" href="#/user/home/{{reviews.tmdbId}}/{{reviews.movieName}}">
                    <div class="col-xs-4">
                        <img ng-src="{{reviews.poster_url}}" width = 100px height= 100px>
                        <h4>{{reviews.name}}</h4>

                    </div>
                </a>


                <div class="col-xs-8">
                    <h4>{{reviews.review}}</h4>
                </div>
                <p></p>
            </div>
        <p></p>
            <h3>Your Ratings</h3>
            <div ng-if="model.noratings">
                You have not reviewed any movie so far!
            </div>
            <div ng-repeat="ratings in model.user.ratings" class="row">
                <a class="makewhite" href="#/user/home/{{ratings.tmdbId}}/{{ratings.movieName}}">
                    <div class="col-xs-4">
                        <img ng-src="{{ratings.poster_url}}" width = 100px height= 100px>

                    </div>
                </a>
                    <div class="col-xs-8">
                        <h4>You rated: {{ratings.rating}}/5</h4>
                    </div>

                <p></p>

            </div>
        <p></p>
            <h3>You are following:</h3>
            <div ng-if="model.nofollowers">
                You have not followed anyone so far!
            </div>
            <div ng-repeat ="follow in model.user.follows">
                <li>
                    <a class="makewhite" href ="#/user/profile/{{follow.username}}">
                        {{follow.username}}
                    </a>
                </li>

            </div>
        <p></p>
        <p></p>
        <a  class="btn btn-success  btn-block"
            ng-click="model.deleteUser(model.user._id)" >Unregister</a>
        </div>

    </div>



    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <div ng-show="model.success" class="alert alert-success" role="alert">
        {{model.success}}
    </div>
</div>
<
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-if="model.loggedIn"
               ng-click="model.logout()">
                <span>Logout</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/login">
                <span>Login</span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a ng-if="model.loggedIn"
               href="#/user">
                <span>Profile</span>
            </a>
            <a ng-if="model.notloggedIn"
               href="#/register">
                <span>Register</span>
            </a>
        </p>

    </div>
</nav>