input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 70px;

}

.navbar-default
{
   background-color: #3d96bd
}

.navbar-default .navbar-brand {
    color: white;

}

.navbar-header
{
    float: none;
}

.glyphicon-ok:before {
                margin: 10px;
                color: white;
}

.glyphicon-user:before {
                margin: 10px;
                color: white;
}

.glyphicon-plus:before {
                margin: 10px;

                color: white;
}
.glyphicon-chevron-left:before{
                 margin : 10px;
            color : white;
}

.list-group-item
{
    border: none
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
}

