
<div class = "setbackground">
<div class="container-fluid">

    <div class="row">
        <a href = "#/home/{{model.title}}">

            <span class = "glyphicon glyphicon-chevron-left"></span>
        </a>
        <h3 class="col-sm-offset-1 col-sm-11">{{model.movie.title}} ({{model.movie.release_date| date: 'yyyy'}})</h3>
    </div>

    <!-- Movie Summary-->
    <div class="row">
        <div class="col-xs-12">
            <h3 class="page-header">Summary</h3>
            <p class="justifytext">{{model.movie.overview}}</p>
        </div>
    </div>


            <div class="row">
                <div class="col-xs-6">
                    <h4  class="page-header"><b>Genre</b></h4>
                    <div ng-repeat="genre in model.movie.genres | limitTo:2">
                        {{genre.name}}
                    </div>
                    </div>


                <div class="col-xs-6">
                    <h4  class="page-header"><b>Release Date</b></h4>
                    <div ng-if="!model.released">
                        <br/><br/><br/>
                    </div>

                    <h5 ng-bind="model.movie.release_date | date: 'mediumDate'"></h5>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h4  class="page-header"><b>IMDB critics Rating</b></h4>
                    <div ng-model="model.movie.criticsRating"
                         class="meter">

                        <meter class="meter" min="0" max="5" value="{{model.movie.criticsRating}}"></meter>
                        <p> <h5 class="rating">{{model.movie.criticsRating}}</h5>
                        </p>
                    </div>
                </div>

                <div class="col-xs-6">
                    <h4  class="page-header"><b>Movie Buff Rating</b></h4>
                    <div ng-model="model.movie.usersRating"
                         class="meter">

                        <meter class="meter" min="0" max="5" value="{{model.ratingAvg}}"></meter>
                        <p> <h5 class="rating">{{model.ratingAvg}}</h5>
                        </p>
                    </div>

                </div>

                </div>
    </div>

    <div class = "container-fluid">

    <div class="form-group">
        <p>
            <label for="reviewtext">Entered Rating  :</label>
            {{model.review.rating}}
        </p>
        <input ng-model="model.review.rating"
               type="range"
               min=0
               max=5
               step="0.1"/>

    </div>



    <div class="form-group">
        <p><label for="reviewtext">Review:</label></p>
        <textarea ng-model="model.review.reviewtext"
                  type="text"
                  class="form-control"
                  id="reviewtext"
                  name="title"
                  rows = 5
                  placeholder="enter the review"
                  required></textarea>

        <p></p></div>

    <a class="btn btn-success btn-block"

       ng-click="model.checkRating(model.review.rating, model.review.reviewtext, model.movie)">Submit</a>
</div>


<div class = "container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <!-- Movie Poster-->
                    <div class="fill">
                        <img class="img paddingtop20" ng-src="https://image.tmdb.org/t/p/w300/{{model.movie.poster_path}}">
                    </div>
                    <!--<img class="img img-responsive profile" ng-src="https://image.tmdb.org/t/p/w300/{{model.movie.poster_path}}">-->

                </div>

                <p></p>
                <!-- Youtube Trailer-->
                <div class="col-sm-9">
                    <div class="video-container">
                        <iframe  width = "100%"
                                 ng-src="{{model.movie.video_path}}"
                                 frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>



            <!-- Cast of the Movie -->
            <div class="row">
                <div class="col-xs-12 ">
                    <h3 class="page-header">Cast</h3>
                    <h2></h2>
                    <ul class="list-inline">
                        <li class="w92"  ng-repeat="actor in model.movie.credits.cast"
                            ng-if="actor.profile_path">
                            <a href="#/cast/{{actor.id}}">
                                <img ng-src="https://image.tmdb.org/t/p/w92{{actor.profile_path}}"></a>
                            <a class="title makeblack" href="#/cast/{{actor.id}}">{{actor.name}}</a>
                            <!-- replace p with a to move to cast page -->
                        </li>
                    </ul>
                </div>
            </div>

    <div ng-if="model.givecheckoutusererror"
         class="alert alert-danger">
        {{model.givecheckoutusererror}}
    </div>
    <h3 class="page-header">User Reviews</h3>

    <div   ng-repeat = "rev in model.movieReviews.reviews" >

            <div class="row">

                <!-- Username -->


                        <h3 class="glyphicon glyphicon-user makewhite">
                            <a href="#/user/profile/{{rev.username}}">{{rev.username}}:
                            </a>
                        </h3>




            </div>


            <!--Review text-->
            <div  class="row">
                <div class="col-xs-12">
                    <p>{{rev.text}}</p>
                </div>
            </div>



    </div>
    </div>

</div>
</div>




