
    <div class="container">
        <h1>Register</h1>
            <input ng-model="username" type="text"
               class="form-control"
               placeholder="username"/>
        <input ng-model="password" type="password"
               class="form-control"
               placeholder="Enter password"/>
        <input ng-model="vpassword" type="password"
               class="form-control"
               placeholder="Verify password"/>
        <a ng-click ="model.createUser(username,password,vpassword)"
           class="btn btn-primary btn-block">Register</a>
                 <a class="btn btn-danger  btn-block"
                     href="#/login">Cancel</a>
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>
    </div>


